* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.to-do {
    width: 100%;
    max-width: 350px;
    padding: 40px 30px 70px;
    border-radius: 10px; 
    background-color: #fff;
    color: black;
}
.to-do > h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.to-do > h2 > img {
    width: 30px;
}
.to-do > .row {
    background-color: #edeef0;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    margin-bottom: 20px;
}
.to-do > .row > input, button {
    border: none;
    outline: none;
}
.to-do > .row > input {
    flex: 1;
    padding-left: 20px;
    background: transparent;
}
.to-do > .row > button {
    font-size: 32px;
    padding: 0 20px;
    border-radius: 40px;
    background-color: #ff5945;
}
.to-do > ul > li {
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    padding: 12px 8px 12px 40px;
    position: relative;
}
.to-do > ul > li::before{
    content: "";
    position: absolute;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    height: 20px;
    width: 20px;
    left: 8px;
}
.to-do > ul > li.checked {
    color: #555;
    text-decoration: line-through;
}
.to-do > ul > li.checked::before {
    background-image: url(images/checked.png);
}
.to-do > ul > li > span {
    position: absolute;
    right: 8px;
    color: #555;
    width: 20px;
    height: 20px;
    text-align: center;
}
#listContainer > li > span:hover {
    background-color: #edeef0;
    border-radius: 50px;
}
@media (min-width: 470px) {
    .to-do {
        max-width: 500px;
    }
}
